@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@theme {
  --color-bg-dark: var(--bg-dark);
  --color-bg: var(--bg);
  --color-bg-light: var(--bg-light);
  --color-text: var(--text);
  --color-text-muted: var(--text-muted);
  --color-highlight: var(--highlight);
  --color-border: var(--border);
  --color-border-muted: var(--border-muted);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-success: var(--success);
  --color-info: var(--info);
}

:root {
  --bg-dark: oklch(0.1 0.01 271);
  --bg: oklch(0.15 0.01 271);
  --bg-light: oklch(0.2 0.01 271);
  --text: oklch(0.96 0.02 271);
  --text-muted: oklch(0.76 0.02 271);
  --highlight: oklch(0.5 0.02 271);
  --border: oklch(0.4 0.02 271);
  --border-muted: oklch(0.3 0.02 271);
  --primary: oklch(0.76 0.1 271);
  --secondary: oklch(0.76 0.1 91);
--danger: oklch(0.7 0.12 30);
--warning: oklch(0.7 0.12 100);
--success: oklch(0.7 0.12 160);
--info: oklch(0.7 0.12 260);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(
    180deg, 
    var(--bg-dark) 0%, 
    var(--bg-dark) 50%, 
    oklch(0.15 0.05 271) 100%
  );
  background-attachment: fixed;
  color: var(--text);
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--bg-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--border-muted);
  border-radius: 10px;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--border);
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--border-muted) var(--bg-dark);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number] { -moz-appearance: textfield; }